<div class="container-login">
    <div class="welcome-content">
        <h1>Welcome to <b><u>the</u></b> social media platform</h1>
        <p>
            We are the best and biggest social network with 5 billion active users all around the world. Share you
            thoughts through stories and much more!
        </p>
    </div>
    <div class="login-box">
        <div class="login-form">
            <div class="title">Login to your account</div>
            <div class="line"></div>
            <a href="/auth/google" class="google-login">
                <i class="fab fa-google"></i>
                LOGIN WITH GOOGLE
            </a>
        </div>
    </div>
</div>