*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #edf2f6;
	font-family: Roboto, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 70px;
	background-color: #50514f;
}
header .page-title {
	margin-left: 5rem;
	font-size: 1.5rem;
	color: #fff;
}
header .user-profile {
	margin-right: 5rem;
	display: flex;
}
header .profile-pic {
	display: flex;
	position: relative;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	background-color: rgb(189, 189, 189);
	margin-right: 0.75rem;
}
header .user-thumb::before {
	content: '';
	position: absolute;
	width: 7px;
	height: 7px;
	right: 200px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #52d0e0;
	z-index: 12;
}

header .username {
	text-decoration: none;
}

header .user-title {
	font-size: 0.9rem;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
header .user-subtitle {
	font-size: 0.6rem;
	font-weight: 200;
	text-decoration: none;
	color: rgb(226, 226, 226);
}
header .fa-caret-down {
	margin-left: 0.8rem;
}

.container-top {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 3rem 3rem 1rem 3rem;
	/* background-color: #52d0e0; */
}

.container-top .cover-photo {
	height: 427px;
	width: 1280px;
	background-color: #50514f;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.container-top .cover-pic {
	width: 100%;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.container-top .profile-section {
	position: relative;
	width: 1280px;
	background-color: white;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.container-top .profile-links {
	padding: 3em;
	margin-left: 2em;
	margin-right: 2em;
}

.container-top .profile-photo {
	padding: 0.1em;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 5.1em;
	background-color: white;
	border-radius: 50%;
}

.container-top .profile-pic {
	border-radius: 50%;
}

.container-top .profile-menu {
	list-style-type: none;
}

.container-top .profile-menu a {
	text-decoration: none;
	font-size: 1em;
	color: rgb(59, 59, 59);
	font-weight: 600;
}

.container-main {
	display: flex;
	min-width: 1280px;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	margin: 1rem 3rem;
}

.container-main .left-bar {
	padding: 5px;
	text-align: center;
	order: 1;
	flex: 1 1 250px;
	float: left;
	margin-right: 2em;
}
.container-main .center-bar {
	padding: 5px;
	text-align: center;
	order: 2;
	flex: 0 1 600px;
}
.container-main .right-bar {
	padding: 5px;
	/* background-color: #525be0; */
	order: 3;
	flex: 1 1 250px;
	float: right;
	margin-left: 2em;
	text-align: center;
}

.container-main .center-bar article {
	padding: 1.3em;
	margin-bottom: 1.3em;
	border-radius: 0.2em;
	background-color: #fff;
	box-shadow: 1px 1px 9px -5px rgba(0, 0, 0, 0.75);
}

.container-main .center-bar .post-heading {
	display: flex;
	flex-direction: row;
	margin-bottom: 1.2em;
	flex-wrap: wrap;
}

.container-main .center-bar .post-heading img {
	border-radius: 50%;
}

.container-main .center-bar .post-heading .author-date {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: 1em;
	/* margin-left: 1em; */
}
.container-main .center-bar .post-heading .author-date a {
	text-decoration: none;
	font-size: 1em;
	color: rgb(97, 97, 97);
	font-weight: 600;
}
.container-main .center-bar .post-heading .author-date .post-date {
	font-size: 0.8em;
	color: rgb(163, 163, 163);
	font-weight: 400;
}
.container-main .center-bar article p {
	text-align: left;
	font-size: 0.9em;
	color: rgb(163, 163, 163);
	font-weight: 400;
}
.container-main .center-bar article .post-additional-info {
	border-top: 1px solid rgb(189, 189, 189);
	margin-top: 1em;
	margin-bottom: 1em;
}

.container-main .left-bar .profile-intro {
	border-radius: 0.2em;
	background-color: #fff;
	box-shadow: 1px 1px 10px -6px rgba(0, 0, 0, 0.75);
}
.container-main .left-bar .profile-intro .profile-intro-title {
	font-size: 1.4em;
	padding: 1.3em;
	color: rgb(80, 80, 80);
	text-align: left;
	border-bottom: 1px solid rgb(189, 189, 189);
}
.container-main .left-bar .profile-intro .profile-intro-content {
	padding: 1.3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: left;
}
.container-main .left-bar .profile-intro .profile-intro-content .personal-info {
	list-style-type: none;
	margin-bottom: 1em;
}
.container-main
	.left-bar
	.profile-intro
	.profile-intro-content
	.personal-info
	li {
	padding: 0.7em 0;
	font-size: 0.9em;
}
.container-main
	.left-bar
	.profile-intro
	.profile-intro-content
	.personal-info
	li
	.personal-info-title {
	color: rgb(97, 97, 97);
	font-weight: 600;
	display: block;
}
.container-main
	.left-bar
	.profile-intro
	.profile-intro-content
	.personal-info
	li
	.personal-info-text {
	font-size: 0.89em;
	color: rgb(163, 163, 163);
}
.container-main .left-bar .profile-intro .profile-intro-content .social-links {
	margin-top: 1.5em;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.container-main
	.left-bar
	.profile-intro
	.profile-intro-content
	.social-links
	.personal-info-title {
	font-size: 0.9em;
	color: rgb(97, 97, 97);
	font-weight: 600;
	margin-bottom: 0.8em;
}
.container-main
	.left-bar
	.profile-intro
	.profile-intro-content
	.social-links
	.social-item {
	width: 200px;
	text-align: center;
	padding: 0.5em;
	margin: 0.6em 0;
	text-decoration: none;
	color: #fff;
	font-size: 0.7em;
	border-radius: 0.25em;
	font-weight: 500;
}
.container-main
	.left-bar
	.profile-intro
	.profile-intro-content
	.social-links
	.social-item
	.svg-inline--fa {
	height: 12px;
	width: 12px;
	margin-right: 5px;
}
.container-main
	.left-bar
	.profile-intro
	.profile-intro-content
	.social-links
	.social-item.bg-facebook {
	background-color: #3b5998;
}
.container-main
	.left-bar
	.profile-intro
	.profile-intro-content
	.social-links
	.social-item.bg-twitter {
	background-color: #00acee;
}

/* LOGIN */

.container-login {
	background-image: linear-gradient(
			to bottom,
			rgba(132, 220, 198, 0.9),
			rgba(240, 247, 35, 0.9)
		),
		url('/images/login_bg.jpg');
	background-size: cover;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.container-login .welcome-content {
	padding: 3em;
	max-width: 600px;
	max-height: 500px;
	color: #fff;
}
.container-login .welcome-content h1 {
	font-weight: 400;
	font-size: 3em;
}
.container-login .welcome-content p {
	margin-top: 2em;
	font-size: 0.95em;
	line-height: 1.5em;
}
.container-login .login-box {
	background-color: #fafafa;
	border-radius: 0.3em;
	box-shadow: 1px 1px 9px -5px rgba(0, 0, 0, 0.75);
}
.container-login .login-box .login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 400px;
	height: 600px;
}
.container-login .login-box .login-form .title {
	padding: 1.5em;
	font-size: 0.95em;
	font-weight: 500;
}
.container-login .login-box .login-form .line {
	width: 100%;
	border-bottom: 1px solid rgb(146, 146, 146);
}
.container-login .login-box .login-form .google-login {
	margin-top: 2em;
	background-color: #db4437;
	text-decoration: none;
	color: #fff;
	padding: 0.8em;
	border-radius: 0.3em;
	font-size: 0.9em;
}
.container-login .login-box .login-form .fa-google {
	margin-right: 1em;
}
