*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #edf2f6;
	font-family: Roboto, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 70px;
	background-color: #50514f;
}
.page-title {
	margin-left: 5rem;
	font-size: 1.5rem;
	color: #fff;
}
.user-profile {
	margin-right: 5rem;
	display: flex;
}
.profile-pic {
	display: flex;
	position: relative;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	background-color: rgb(189, 189, 189);
	margin-right: 0.75rem;
}
.user-thumb::before {
	content: '';
	position: absolute;
	width: 7px;
	height: 7px;
	right: 200px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #52d0e0;
	z-index: 12;
}

.username {
	text-decoration: none;
}

.user-title {
	font-size: 0.9rem;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
.user-subtitle {
	font-size: 0.6rem;
	font-weight: 200;
	text-decoration: none;
	color: rgb(226, 226, 226);
}
.fa-caret-down {
	margin-left: 0.8rem;
}
